{# {% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/pascal/Bureau/TheDistrictSymfony/src/Controller/PanierController.php</code></li>
        <li>Your template at <code>/home/pascal/Bureau/TheDistrictSymfony/templates/panier/index.html.twig</code></li>
    </ul>
</div>
{% endblock %} #}

{% extends 'base.html.twig' %}
{% block body %}


                <h1 class="title-page mt-5 mb-5 mx-5">The District Restaurant</h1>
                 {# <p>Hello World !!!</p> #}

                {# <h2 class="title-page mt-5 mx-5">Votre panier</h2> #}


        
        

{% endblock %} 