body {
    background-color: #222222;
}


h1, p {
    color: #000000;
}
.title-page{
    text-align: center;
    color: black;

 }


/* navbar */

/* !important prend en priorité la propriété */

.navbar{
    background-color: black!important;
  
}
.nav-link{
    color: white!important;
}
.nav-link:hover{
    color: green !important;
     }



.parallax{
    position: absolute;
    top:176px;
    min-width: 100%;
    min-height: 800px;
     background-image: url("../images/images_the_district/ibg.jpg");
     background-position: center ;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     z-index: -1;
     
 }
/* footer */

 .icons li{
    list-style: none;
 }



 /* politique confidentialité et mention légale */
.link{
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    color: black;
    font-size: 20px;
 }
 .link:hover{
    color: green;
 }

 .ombreblanche{
    filter: drop-shadow(0rem 0rem 0.15rem #ffffff);
 }
 .ombreblanchetableau{
   filter : drop-shadow(0rem 0rem 0.05rem #ffffff);
 }
 
/* card */

 .img-card{
    max-height: 250px;
    object-fit: cover;
 }

 .card{
    transition: all 0.3s;
}

 .card:hover{
    transform:scale(1.05);
 }


 video{
    width : 50%;
    height : 50%;
    justify-content:  center;
    position : relative;
 }

